<div id="about" class="page">
  <div class="divided title">
  </div>
  <h1>Theme</h1>
  <p>
    Welcome to SailPoint’s annual hackathon! This year, everyone is invited to participate—yes, even you! You do not
    need any coding experience to participate—this is great opportunity to come and learn at your own pace. This year's
    theme is <i>To Extensibility, and Beyond!</i>, and we are opening up the hackathon to any and all
    projects, SailPoint-related or not. <b>There will be cash prizes, mini games, free lunch, and more!</b>
    All project submissions will receive points from judging and have a chance to win first, second, or third place
    prizes.
    For those that are looking for an edge against the competition, bonus points will be awarded to projects that meet
    certain criteria listed in the <i>Bonus Multipliers</i> section below. Please read all of the rules and guidelins
    below, and come build something fun, cool, and innovative with your friends and coworkers!
  </p>
​
  <h1>Dates and Times</h1>
  <p>
    The registration process will be open from January 18th, 8:00 AM CT to February 2nd, 11:59 PM CT. The hackathon
    portal will remain accessible after registration closes so participants can continue to form teams for the event and
    to check in day-of.
​
    The hackathon starts on February 3rd at 8:00 AM to your team's specified local time and will end on 11:59 PM on
    February 4th of your team's specified local time. You will specify this time during creation of your team. You can
    work
    as much or
    as little as you want during that time frame, including through the evenings and nights if you wanted to! This gives
    you ~40 hours to work on your project and provide your submission before the deadline!
  </p>
​
  <h1>Prizes</h1>
  <p>
    The total prize pool this year is $11,000! For each place listed below, each winning team has the opportunity to add
    an additional
    $1,000 to their total prize if their team composition consists of three or more different organizations (e.g.
    finance, marketing, support). There will also be mini-games throughout the two days which participants will have
    additional chances to win prizes! Below is a breakdown of the prizes:
  <ul>
    <li>1st: $3,000 USD</li>
    <li>2nd: $2,000 USD</li>
    <li>3rd: $1,000 USD</li>
    <li>Mini-games: 20-count, $50 USD Amazon gift cards</li>
  </ul>
  </p>
​
  <h1>Free Lunch</h1>
  <p> You may expense your lunch for each of the two days of your participation, and your total expense amount must not
    exceed a combined total of $75 for the two meals.
  </p>
​
  <h1>Participation & Rules</h1>
  <p>
    We want to encourage as many employees as possible, regardless of technical ability, to participate in this year's
    hackathon
    to strengthen relationships, foster creativity, and to provide the time to learn new things. This will be a safe
    place to experiment with any ideas you may have, be they SailPoint related or not, with free food, prizes, and other
    goodies to keep things engaging.
    While software engineering is a usually a core part of every hackathon, there are opportunities to participate
    outside of writing code. Teams will need to effectively advocate their ideas to judges, so participants with video,
    marketing, sales, and public speaking experience can drastically improve the chances of winning.
​
  <h2>Team Composition</h2>
  <ul>
    <li>Teams can be no larger than 4 participants.</li>
  </ul>
​
  <h2>Submission Process</h2>
  <ul>
    <li>Fill out the project submission form by 11:59:59 PM to the specified local time of your team on February 4th. You will need to choose
      your team's specified time zone that you will start and stop in when creating your team in the hackathon portal.
      This will allow us to be sure your submission times are recorded accurately, that start time are reasonable for
      participants around the globe, and to help ensure everyone gets the same amount of working time.</li>
    <li>Submissions must include any and all files related to your project. <b>You cannot submit additional files after
        the submission deadline.</b></li>
    <li>Submissions must also include a 1-2 minute video explaining your project. This video must include:
      <ul>
        <li>Description/overview of what your project is</li>
        <li>Demonstration of your work</li>
        <li>If your project is business-related, it must also include information on the potential impact on the
          business. This could be anything related to finance, marketing, sales, dollars saved, dollars earned, etc.
        </li>
      </ul>
    </li>
  </ul>
​
  <h2>Judging</h2>
  <ul>
    <li>Judging will be handled via a method called pairwise comparison.</li>
    <li>Judging will be done using a tool called Gavel.</li>
    <li>There will be two rounds of judging:
      <ul>
        <li>Round 1: Determine the top five finalists</li>
        <li>Round 2: Determine the top three winners</li>
      </ul>
    </li>
    <li>Projects will be judged on the following criteria:
      <ul>
        <li>
          <strong>LEVEL OF INNOVATION</strong>
          <ul>
            <li>Technology can be cool but not innovative—and vice versa. Apart from coolness, “level of innovation” is
              our take on participants’
              awareness of other attempts to solve the same problem they are, and how the team positions their hackathon
              entry.
              Does it pull something off that hasn’t been pulled off before? Does it do something new and unique?</li>
          </ul>
        </li>
        <li>
          <strong>REALISTIC CAPABILITY</strong>
          <ul>
            <li>The two days we set aside for our teams to pause their normal course of work go by fast. Which teams
              built
              working solutions?
              Which bit off a little more than they could chew? What gets done in the space of a hackathon is a decent
              indication of
              the dependencies and level of effort that would be required to put the technology into production. This
              category is our
              way of quantifying that.</li>
          </ul>
        </li>
        <li>
          <strong>COOLNESS</strong>
          <ul>
            <li>“Coolness” is an attempt to measure the important “wow” factor: the impression the hackathon entry makes
              when you see it,
              and the gestalt of the demo. Is it a reflection of a diverse team’s ingenuity? Is it something a human
              being
              would feel delighted,
              excited, empowered, or even relieved to use?</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
​
  <h2>Bonus Multipliers</h2>
  <p>As mentiond in the introduction, small bonus multipliers will be awarded to projects that incorporate or emphasize
    our efforts in the extensibility of our cloud-based services. All submissions will start with a multiplier of 1.0,
    and below you can find two areas of emphasis that can net your team additional points.</p>
  <ul>
    <li><b>+0.1</b>: Project incorporates SailPoint cloud-based APIs</li>
    <li><b>+0.2</b>: Project incorporates SailPoint cloud-based APIs and is deemed able to be released as open-source</li>
  </ul>
  </p>
​
  <h1>Project Submission Process</h1>
  <p>
  <ul>
    <li>Fill out the project submission form by 11:59:59 PM to the specified local time of your team on February 4th.
    </li>
    <li>The submission must include a video no longer than 2 minutes, along with a zipped copy of all project files. You
      will not be able to submit new files after this deadline. Because our judges and teams are distributed globally,
      this video will be what the judges use to determine the top five projects during their normal working hours. Other
      project files may or may not be used during the juging process
      to determine the top three winners.</li>
    <li></li>
  </ul>
  </p>
​
  <h1>Frequently Asked Questions (FAQ)</h1>
  <p>
    Q: Does my hackathon project have to be code-related, or can I work on anything that may be innovative to how we do
    things today?
    </br>
    A: Projects in no way are required to be code-related. Do you have a new way we could market our products or an
    efficient, new way of operating? Come spend this time working on those and pitch them during your submission! You
    can come to the hackathon and innovate in any way that you’d like!
    </br>
    </br>
    Q: Will you be providing training for products before the hackathon?
    </br>
    A: There will be no training provided before the hackathon this year.
    </br>
    </br>
    Q: What is the theme & focus for this year’s hackathon?
    </br>
    A: This year you can build whatever you want. You can build something related to FireEye products but you are in no
    way required to—so that cookie baking app you’ve always wanted to build with your coworker? Go for it! That said,
    as stated previously, bonus multipliers will be awarded to those who
    work with Sailpoint products meeting the critieria specified in the <i>Bonus Multipliers</i> section above.
    </br>
    </br>
    Q: Is there any required team composition this year?
    </br>
    A: We are not requiring any particular team composition this year. That said, we highly encourage you to have a
    diverse team as you will be pitching your team to the judges and marketing, sales, and some soft skills can be just
    as important as anything you may have built. Not to mention the additional prize money if your team happens to be composed of 3 or more different organizations!
    </br>
    </br>
    Q: What is the actual time that the hackathon starts and ends?
    </br>
    A: The hackathon starts on February 3rd at 8:00 AM of the specified time zone for your team, and will end on 11:59 PM on February 4th of the specified time zone for your team. You can work as much or
    as little as you want during that time frame, including through the evenings and nights if you wanted to! This gives
    you ~40 hours to work on your project and provide your submission before the deadline!
    </br>
    </br>
    Q: Are interns able to participate in the hackathon?
    </br>
    A: The hackathon team has no issues with participation from interns, we leave that up to their managers to allow
    them the time to participate!
    </br>
    </br>
    Q: Do I have to pick a team before registration closes?
    </br>
    A: As long as you register before registration closing you may access this portal at any time to change teams.
  </p>
</div>