<div id="about" class="page">
  <div class="divided title">
    About
  </div>
  <h3>Theme</h3>
  <p>
    This year's theme is "Inclusion and Creativity", and we are opening up the hackathon to any and all projects,
    security related or not.
    All project submissions will receive points from judging, and have a chance to win first, second, or third place
    prizes.
    For those that are looking for an edge against the competition, bonus points will be awarded to projects that are
    designed with the "Cloud"
    in mind, and that utilize FireEye products via API. To learn more about judging, see the Judging section below. Come
    and build something fun, cool, and innovative with your
    friends and coworkers!
  </p>

  <h3>Prizes</h3>
  <p>
    You asked and we listened. The prizes for hackathon 2020 have greatly increased in both value and quality, with a
    total prize pool
    this year of $28,000 USD! There will also be a prize pool dedicated to remote employees that participate in the
    hackathon!
    Also, instead of picking the prizes for you this year we've decided that it would be best to let you pick the
    prizes!
    After all, nobody knows you better than yourself! Here is a breakdown of the prizes:
    <ul>
      <li>1st: $10,000 USD</li>
      <li>2nd: $6,000 USD</li>
      <li>3rd: $4,000 USD</li>
      <li>Day-of Prizes: 64-count, $125 USD Amazon gift cards</li>
    </ul>
  </p>

  <h3>Day of Services</h3>
  <p>
    We didn't stop listening! This year we will also be including day-of services for those participating at FireEye
    offices!
    For those of you who are remote, don't worry, you will be able to expense $60 USD/day in meals for your
    participation!
    We will be announcing these services closer to the event, so keep an eye out for an update from the internal comms
    team!
  </p>

  <h3>Participation</h3>
  <p>
    We want to encourage as many employees as possible, regardless of technical ability, to participate in this year's
    hackathon
    to strengthen relationships, foster creativity, and learn new things. This will be a safe place to experiment with
    any
    ideas you may have, be they FireEye related or not, with free food, prizes, and other goodies to keep things
    engaging.
    While software engineering is a usually a core part of every hackathon, there are opportunities to participate this
    year
    outside of writing code.
    <ul>
      <li>Teams will need to effectively advocate their ideas to judges, so participants with video, marketing, sales,
        and
        public speaking experience can improve the chances of winning.</li>
      <li>We will need volunteers to help coordinate and run the hackathon both on-site and remotely.</li>
      <li>We are looking for project sponsors in every department to pitch innovative ideas for hackathon
        participants to work on.
        Also, if you have an idea but you don't know how to build it, this is a perfect way to join in!</li>
    </ul>
    If you are interested in volunteering, please email <a href="mailto:hackathon@fireeye.com">hackathon@fireeye.com</a>
  </p>

  <h3>Project Submission Process</h3>
  <p>
    <ul>
      <li>Fill out the project submission form <a
          href="https://airtable.com/shrQKUV9pObv9QWaZ">(https://airtable.com/shrQKUV9pObv9QWaZ)</a> by 11:59:59 PM EST,
        March 31st.</li>
      <li>The submission must include a video no longer than 1 minute, along with a zipped copy of all project files.
        You will not be able to submit new files after this deadline.
      </li>
      <li>Since our judges and teams are distributed globally, this video will be what the judges use to determine the
        top five projects during their normal working hours. Other project files may be used during the juging process
        to determine the top three winners.</li>
    </ul>
  </p>

  <h3>Judging</h3>
  <p>
    Projects will be judged on the following criteria:
    <ul>
      <li>
        <strong>LEVEL OF INNOVATION</strong>
        <ul>
          <li>Technology can be cool but not innovative—and vice versa. Apart from coolness, “level of innovation” is
            our take on participants’
            awareness of other attempts to solve the same problem they are, and how the team positions their hackathon
            entry.
            Does it pull something off that hasn’t been pulled off before? Does it do something new and unique?</li>
      </li>
    </ul>
    </ul>

    <ul>
      <li>
        <strong>REALISTIC CAPABILITY</strong>
        <ul>
          <li>The two days we set aside for our teams to pause their normal course of work go by fast. Which teams built
            working solutions?
            Which bit off a little more than they could chew? What gets done in the space of a hackathon is a decent
            indication of
            the dependencies and level of effort that would be required to put the technology into production. This
            category is our
            way of quantifying that.</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li>
        <strong>COOLNESS</strong>
        <ul>
          <li>“Coolness” is an attempt to measure the important “wow” factor: the impression the hackathon entry makes
            when you see it,
            and the gestalt of the demo. Is it a reflection of a diverse team’s ingenuity? Is it something a human being
            would feel delighted,
            excited, empowered, or even relieved to use.</li>
        </ul>
      </li>
    </ul>

    All projects starts with a multiplier of 1.0x and, while we encourage any and all project ideas, this year's
    hackathon will award small bonus multipliers to the final score of projects that adhere to the following criteria:
    <ul>
      <li>+0.1x points for projects that have a “for the cloud” aspect – e.g. protects cloud workloads or other customer
        activity in the cloud</li>
      <li>+0.1x points for projects that use one or more FireEye products via API (DoD, Innovation Architecture,
        HX/Helix
        API, etc.)</li>
    </ul>

    Judging will happen in two rounds:
    <ul>
      <li>Round one judging will incorporate <a href="https://github.com/anishathalye/gavel">Gavel</a>, a pairwise
        judging
        algorithm
        developed by MIT for their hackathon.
        Judges will use video submissions and project files to determine the best projects based on the above criteria.
        Bonus points will be added after round one judging is complete. The final score will determine the top 5
        projects,
        which will move on to round two.</li>
      <li>Round two finalists will have one week (April 6th-10th) to prepare a 5 minute presentation followed by 5
        minutes
        of
        questions for a panel of judges. Finalist round will take place on Monday, April 13th, with winners announced
        that
        same day.
        In the event of a tie, Grady Summers will decide the winner.</li>
    </ul>
  </p>
</div>