<div id="stats">
  <div class="ui red segment" ng-class="{'loading': loading}">
    <div class="ui header">
      <i class="users icon"></i>
      Users
    </div>
    <div class="content">
      <div class="ui list">
        <div class="item">
          <div class="content">
            <strong>
              Total
            </strong> :
            {{stats.users.numberSignedUp}}
          </div>
        </div>
        <div class="item">
          <div class="content">
            <strong>
              Verified
            </strong> :
            {{stats.users.numberVerified}}
          </div>
        </div>
        <div class="item">
          <div class="content">
            <strong>
              Completed Registration
            </strong> :
            {{stats.users.numberCompletedRegistration}}
          </div>
        </div>
        <div class="item">
          <div class="content">
            <strong>
              Checked-in
            </strong> :
            {{stats.users.numberCheckedin}}
          </div>
        </div>
        <div class="item">
          <div class="content">
            <strong>
              Previously Attended A Hackathon
            </strong> :
            {{stats.users.numberPreviouslyAttendedHackathons}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui yellow segment" ng-class="{'loading': loading}">
    <div class="ui header">
      <i class="flag icon"></i>
      Teams
    </div>
    <div class="item">
      <div class="content">
        <strong>
          Total
        </strong> :
        {{stats.teams.numberTeams}}
      </div>
    </div>
    <div class="item">
      <div class="content">
        <strong>
          Users Without Teams
        </strong> :
        {{stats.teams.numberUsersWithoutTeams}}
      </div>
    </div>
    <div class="item">
      <div class="content">
        <strong>
          Teams With Only One Owner
        </strong> :
        {{stats.teams.numberTeamsOneUser}}
      </div>
    </div>
    <div class="item">
      <div class="content">
        <strong>
          Average Team Size
        </strong> :
        {{stats.teams.averageTeamSize}}
      </div>
    </div>
  </div>
  <div class="ui green segment" ng-class="{'loading': loading}">
    <div class="ui header">
      <i class="shopping bag icon"></i>
      Swag
    </div>
    <div class="content">
      <strong>
        Unisex shirt sizes:
      </strong> :
      XS ({{stats.swag.shirtSizes['XS']}})
      S ({{stats.swag.shirtSizes['S']}})
      M ({{stats.swag.shirtSizes['M']}})
      L ({{stats.swag.shirtSizes['L']}})
      XL ({{stats.swag.shirtSizes['XL']}})
      XXL ({{stats.swag.shirtSizes['XXL']}})
    </div>
    <div class="content">
      <strong>
        Women's shirt sizes:
      </strong> :
      XS ({{stats.swag.shirtSizes['XS']}})
      S ({{stats.swag.shirtSizes['S']}})
      M ({{stats.swag.shirtSizes['M']}})
      L ({{stats.swag.shirtSizes['L']}})
      XL ({{stats.swag.shirtSizes['XL']}})
      XXL ({{stats.swag.shirtSizes['XXL']}})
    </div>
  </div>
  <div class="ui blue segment" ng-class="{'loading': loading}">
    <div class="ui header">
      <i class="plug icon"></i>
      Hardware
    </div>
    <div class="item">
      <div class="content">
        <strong>
          Users Requesting FireEye Hardware
        </strong> :
        {{stats.hardware.numberUsersRequestingFireeyeHardware}}
      </div>
    </div>
    <div class="item">
      <div class="content">
        <strong>
          Users Requesting Third-party Hardware
        </strong> :
        {{stats.hardware.numberUsersRequestingThirdpartyHardware}}
      </div>
    </div>
  </div>
  <div class="ui purple segment" ng-class="{'loading': loading}">
    <div class="ui header">
      <i class="laptop icon"></i>
      Software
    </div>
    <div class="item">
      <div class="content">
        <strong>
          Users Requesting FireEye Software
        </strong> :
        {{stats.software.numberUsersRequestingFireeyeSoftware}}
      </div>
    </div>
    <div class="item">
      <div class="content">
        <strong>
          Users Requesting Third-party Software
        </strong> :
        {{stats.software.numberUsersRequestingThirdpartySoftware}}
      </div>
    </div>
  </div>
  <div class="ui black segment" ng-class="{'loading': loading}">
    <div class="ui header">
      <i class="globe icon"></i>
      Locations
    </div>
    <div class="ui grey segment" ng-class="{'loading': loading}" ng-repeat="location in stats.locations">
      <div class="ui header">
        {{location.name}}
      </div>
      <div class="item">
        <div class="content">
          <strong>
            Total Users
          </strong> :
          {{location.numberCompletedRegistration}}
        </div>
      </div>
      <div class="content">
        <strong>
          Unisex shirt sizes:
        </strong> :
        XS ({{location.shirtSizes['XS']}})
        S ({{location.shirtSizes['S']}})
        M ({{location.shirtSizes['M']}})
        L ({{location.shirtSizes['L']}})
        XL ({{location.shirtSizes['XL']}})
        XXL ({{location.shirtSizes['XXL']}})
      </div>
      <div class="content">
        <strong>
          Women's shirt sizes:
        </strong> :
        XS ({{location.shirtSizes['XS']}})
        S ({{location.shirtSizes['S']}})
        M ({{location.shirtSizes['M']}})
        L ({{location.shirtSizes['L']}})
        XL ({{location.shirtSizes['XL']}})
        XXL ({{location.shirtSizes['XXL']}})
      </div>
      <div class="item">
        <div class="content">
          <strong>
            Users With Food Allergies
          </strong> :
          {{location.numberFoodAllergies}}
        </div>
      </div>
      <div class="item">
        <div class="content">
          <strong>
            Users With Dietary Restrictions
          </strong> :
          {{location.numberDietaryRestrictions}}
        </div>
      </div>
      <div class="item">
        <div class="content">
          <strong>
            Users Needing Hardware
          </strong> :
          {{location.numberNeedingHardware}}
        </div>
      </div>
      <div class="item">
        <div class="content">
          <strong>
            Users Needing Software
          </strong> :
          {{location.numberNeedingSoftware}}
        </div>
      </div>
    </div>
  </div>
</div>