<div id="sidebar"
     ng-class="{open: showSidebar}">
  <div ui-sref="app.dashboard"
       class="logo item">
    <!-- <img src="assets/images/logo-white.svg"> -->
    <img src="assets/images/sp-logo-white.svg">
  </div>

  <div ui-sref-active="active"
       ui-sref="app.dashboard"
       class="item">
    Dashboard
  </div>

  <div ng-show="currentUser.verified">

    <div
      ui-sref-active="active"
      ui-sref="app.profile"
      ng-show="!currentUser.status.declined"
      class="item">
      Profile
    </div>

    <div
      ui-sref-active="active"
      ui-sref="app.confirmation"
      ng-show="!pastConfirmation && currentUser.status.admitted && !currentUser.status.declined"
      class="item">
      Confirmation
    </div>

    <div
      ui-sref-active="active"
      ui-sref="app.about"
      class="item">
      About
    </div>

    <!-- <div
      ui-sref-active="active"
      ui-sref="app.projects"
      class="item">
      Project Ideas
    </div> -->

    <div
      ui-sref-active="active"
      ui-sref="app.team"
      ng-show="!currentUser.status.declined && currentUser.status.completedProfile"
      class="item">
      Team
    </div>

    <div
      ui-sref-active="active"
      ui-sref="app.submission"
      ng-show="!currentUser.status.declined && currentUser.status.completedProfile"
      class="item">
      Project Submission
    </div>

    <a style="color:white;" href="https://news.ycombinator.com" target="_blank">
      <div
        ui-sref-active="active"
        ng-show="!currentUser.status.declined && currentUser.status.completedProfile"
        class="item">
        HELPq
      </div>
    </a>

    <div
      ui-sref-active="active"
      ui-sref="app.admin.stats"
      class="item"
      ng-show="currentUser.admin">
      Admin
    </div>

  </div>

  <div class="item"
       ng-click="logout()">
    Logout
  </div>

  <div class="note">
    {{ EVENT_INFO.NAME }}
  </div>

  <div class="note">
    <a href="mailto:hackathon@fireeye.com" style="color: #FFFFFF;"><u>Contact us</u></a>
  </div>

</div>

<div class="tab"
  ng-click="toggleSidebar()">
  <i ng-show="!showSidebar" class="cog icon"></i>
  <!-- <img ng-show="!showSidebar" src="assets/images/logo-white.svg" /> -->
  <span class="close" ng-show="showSidebar">&#x2715</span>
</div>
