<div id="profile" class="page">
  <div class="divided title">
    Profile
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form" ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

          <div class="field">
            <label> Email </label>
            <input type="email" name="email" disabled="disabled" ng-model="user.email">
          </div>

          <div class="field">
            <label> Full Name </label>
            <input type="text" name="name" ng-model="user.profile.name" required>
          </div>

          <!--
        <div class="field">
          <label> Business Org </label>
          <div id="businessOrg" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="Business Org" name="businessOrg" ng-model="user.profile.businessOrg">                
            </div>
            <div class="results"></div>
          </div>
        </div>
        -->

          <div class="field">
            <label> What location will you be attending from? </label>
            <select name="location" ng-model="user.profile.location" required>
              <option value="Remote">Remote</option>
              <option value="Alexandria">Alexandria</option>
              <option value="Amsterdam">Amsterdam</option>
              <option value="Bangalore">Bangalore</option>
              <option value="Bangkok">Bangkok</option>
              <option value="Boston">Boston</option>
              <option value="Bucharest">Bucharest</option>
              <option value="Cebu City">Cebu City</option>
              <option value="Charlotte">Charlotte</option>
              <option value="Charlottesville">Charlottesville</option>
              <option value="Chicago">Chicago</option>
              <option value="Cork">Cork</option>
              <option value="Dallas">Dallas</option>
              <option value="Denver">Denver</option>
              <option value="Doha">Doha</option>
              <option value="Draper">Draper</option>
              <option value="Dubai">Dubai</option>
              <option value="Dublin">Dublin</option>
              <option value="El Segundo">El Segundo</option>
              <option value="Herndon">Herndon</option>
              <option value="Hong Kong">Hong Kong</option>
              <option value="India">India</option>
              <option value="Istanbul">Istanbul</option>
              <option value="Kiev">Kiev</option>
              <option value="Kildare">Kildare</option>
              <option value="London">London</option>
              <option value="McLean">McLean</option>
              <option value="Milan">Milan</option>
              <option value="Milpitas">Milpitas</option>
              <option value="Mumbai">Mumbai</option>
              <option value="Munich">Munich</option>
              <option value="Nagoya">Nagoya</option>
              <option value="New Delhi">New Delhi</option>
              <option value="NYC">NYC</option>
              <option value="Osaka">Osaka</option>
              <option value="Paris">Paris</option>
              <option value="Portland">Portland</option>
              <option value="Pune">Pune</option>
              <option value="Reston">Reston</option>
              <option value="Riyadh">Riyadh</option>
              <option value="San Diego">San Diego</option>
              <option value="San Francisco">San Francisco</option>
              <option value="Selangor">Selangor</option>
              <option value="Seoul">Seoul</option>
              <option value="Shanghai">Shanghai</option>
              <option value="Singapore">Singapore</option>
              <option value="State College">State College</option>
              <option value="Stockholm">Stockholm</option>
              <option value="Sydney">Sydney</option>
              <option value="Taipei City">Taipei City</option>
              <option value="Tokyo">Tokyo</option>
              <option value="Toronto">Toronto</option>
              <option value="Warsaw">Warsaw</option>
              <option value="Westborough">Westborough</option>
            </select>
          </div>

          <div class="field">
            <label> Shirt Size</label>
            <p>
              Let's get you some swag!
            </p>
            <select name="shirt" ng-model="user.profile.shirtSize" required>
              <option value="">Shirt Size</option>
              <option value="XS">Unisex X-Small</option>
              <option value="S">Unisex Small</option>
              <option value="M">Unisex Medium</option>
              <option value="L">Unisex Large</option>
              <option value="XL">Unisex X-Large</option>
              <option value="XXL">Unisex XX-Large</option>
              <option value="WXS">Women's X-Small</option>
              <option value="WS">Women's Small</option>
              <option value="WM">Women's Medium</option>
              <option value="WL">Women's Large</option>
              <option value="WXL">Women's X-Large</option>
              <option value="WXXL">Women's XX-Large</option>
            </select>
          </div>

          <div class="field">
            <label>
              Have you attended any hackathons previously, FireEye or otherwise?
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.profile.previouslyAttended">
              <label> Yes </label>
            </div>
          </div>

          <div class="field">
            <label>
              Will you be needing any FireEye hardware?
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.profile.wantsFireeyeHardware">
              <label> Yes, I would like to use FireEye hardware in my hack. </label>
            </div>
          </div>

          <div class="field" ng-show="user.profile.wantsFireeyeHardware">
            <label>
              What kind of FireEye hardware would be useful for you?
            </label>
            <p>
              We will have a hardware checkout, and we'll try our best to provide things that would be useful to you -
              however, we can't guarantee everything.
            </p>
            <input type="text" ng-model="user.profile.fireeyeHardware">
          </div>

          <div class="field">
            <label>
              Will you be needing any FireEye software?
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.profile.wantsFireeyeSoftware">
              <label> Yes, I would like to use FireEye software in my hack. </label>
            </div>
          </div>

          <div class="field" ng-show="user.profile.wantsFireeyeSoftware">
            <label>
              What kind of FireEye software would be useful for you?
            </label>
            <input type="text" ng-model="user.profile.fireeyeSoftware">
          </div>

          <div class="field">
            <label>
              Will you be needing any third-party hardware?
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.profile.wantsThirdpartyHardware">
              <label> Yes, I would like to use third-party hardware in my hack. </label>
            </div>
          </div>

          <div class="field" ng-show="user.profile.wantsThirdpartyHardware">
            <label>
              What kind of third-party hardware would be useful for you?
            </label>
            <p>
              We will have a hardware checkout, and we'll try our best to provide things that would be useful to you -
              however, we can't guarantee everything.
            </p>
            <input type="text" ng-model="user.profile.thirdpartyHardware">
          </div>

          <div class="field">
            <label>
              Will you be needing any third-party software?
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.profile.wantsThirdpartySoftware">
              <label> Yes, I would like to use third-party software in my hack. </label>
            </div>
          </div>

          <div class="field" ng-show="user.profile.wantsThirdpartySoftware">
            <label>
              What kind of third-party software would be useful for you?
            </label>
            <input type="text" ng-model="user.profile.thirdpartySoftware">
          </div>

          <!--
          <div class="field">
            <label> Liability Waiver </label>
            <p>
              <a target="_blank" href="https://go.hackmit.org/liability-waiver">
                Liability Waiver
              </a>
            </p>
            <p>
              For legal reasons, FireEye asks that you read and accept the terms of our liability waiver.
            </p>
            <p>
              By writing my name below, I affirm that I have read and accepted the terms of the liability waiver above.
            </p>
            <input type="text" name="signatureLiabilityWaiver" placeholder="Your Full Legal Name"
              ng-model="user.profile.signatureLiability">
          </div>

          <div class="field">
            <label> Photo Release </label>
            <p>
              <a target="_blank" href="https://go.hackmit.org/photo-release">
                Photo Release
              </a>
            </p>
            <p>
              Signing this photo release means if we take photos or photos of you, we can share it with the world.
            </p>
            <p>
              By writing my name below, I affirm that I have read and accepted the terms of the photo release above.
            </p>
            <input type="text" name="signaturePhotoRelease" placeholder="Your Full Legal Name"
              ng-model="user.profile.signaturePhotoRelease">
          </div>

          <div class="field">
            <label> Code of Conduct </label>
            <p>
              <a target="_blank" href="https://go.hackmit.org/code-of-conduct">
                Hackathon Code of Conduct
              </a>
            </p>
            <p>
              It is extremely important to us that attendees follow a set of guidelines to make the event fun for
              everyone involved. Please read through and make sure you understand what we will be expecting of you.
            </p>
            <p>
              By writing my name below, I affirm that I have read and will abide by the code of conduct detailed above.
            </p>
            <input type="text" name="signatureCodeOfConduct" placeholder="Your Full Legal Name"
              ng-model="user.profile.signatureCodeOfConduct">
          </div>
          -->

          <div class="field">
            <label>
              Do you have any food allergies?
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.profile.hasFoodAllergies">
              <label> Yes, I have a food allergy. </label>
            </div>
          </div>

          <div class="field" ng-show="user.profile.hasFoodAllergies">
            <label>
              What food allergy do you have?
            </label>
            <input type="text" ng-model="user.profile.foodAllergy">
          </div>

          <div class="field">
            <label>
              Do you have any dietary restrictions?
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.profile.hasDietaryRestriction">
              <label> Yes, I have a dietary restriction. </label>
            </div>
          </div>

          <div class="field" ng-show="user.profile.hasDietaryRestriction">
            <label>
              What dietary restriction do you have?
            </label>
            <input type="text" ng-model="user.profile.dietaryRestriction">
          </div>

          <div class="field">
            <label>
              Additional Notes
            </label>
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea ng-model="user.profile.notes"></textarea>
          </div>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit" class="fluid ui purple button" ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>