<!-- Reigstration Open/Close -->
<div
  ng-class="{'loading': loading}"
  class="ui red segment">
  <div class="ui form">

    <div class="ui header">
      Open/Close Registration
    </div>

    <p>
      Users will be able to register new accounts within the time period specified.
    </p>

    <div class="field">
      <label>
        Opens: {{ formatDate(settings.timeOpen) }}
        <!-- Opens: {{ settings.timeOpen | date : "MMM d, y h:mm:ss a Z" }} -->
      </label>
      <input type="datetime-local" ng-model="settings.timeOpen">
    </div>

    <div class="field">
      <label>
        Closes: {{ formatDate(settings.timeClose) }}
        <!-- Closes: {{ settings.timeClose | date : "MMM d, y h:mm:ss a Z" }} -->
      </label>
      <input type="datetime-local" ng-model="settings.timeClose">
    </div>

    <div class="ui field">
      <div
        class="ui pink button"
        ng-click="updateRegistrationTimes()">
        Update
      </div>
    </div>
  </div>
</div>

<!-- Whitelist -->
<div
  ng-class="{'loading': loading}"
  class="ui green segment">

  <div class="ui header">
    Whitelisted Domains
  </div>

  <div class="ui form">
   <div
      class="ui label"
      ng-repeat="domain in whitelist.replace(' ','').split(',')">
      {{domain}}
    </div>
    <br>
    <br>
    <div class="field">
      <textarea class="ui input" type="text" ng-model="whitelist">
      </textarea>
    </div>
    <div class="field">
      <div
        class="ui pink button"
        ng-click="updateWhitelist()">
        Update
      </div>
    </div>
  </div>
</div>

<div
  ng-class="{'loading': loading}"
  class="ui orange segment">
  <div class="ui header">
    Confirmation Text
  </div>
  <div class="ui stackable two column grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <textarea
            class="ui input"
            type="text"
            ng-model="settings.confirmationText">
          </textarea>
        </div>
        <div class="field">
          <div
            class="ui pink button"
            ng-click="updateConfirmationText()">
            Update
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div
        class="preview ui segment"
        ng-bind-html="markdownPreview(settings.confirmationText)">
      </div>
    </div>
  </div>
</div>
